.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.AppHeader{

height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 4px 20px 4px 20px;
border-bottom: 1px solid black;

}
.AppFooter{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;

}
.SideMenuandPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.PageContent{
  padding-left: 12px;
  
}